<div  data-ng-controller="HouseCtrl as vm">
     
<!-- NEW BOX -->
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><%= __('house-box-title') %> <small ng-show="vm.savinghouse"><%= __('house-box-saving') %></small></h3>
    </div>

<div class="box-body table-responsive">

    <p>
        <%= __('house-box-description') %>
    </p>

    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><%= __('ID') %></th>
                <th><%= __('Name') %></th>
                <th><%= __('Address') %></th>
                <th><%= __('City') %></th>
                <th><%= __('PostCode') %></th>
                <th><%= __('Country') %></th>
                <th><%= __('Latitude') %></th>
                <th><%= __('Longitude') %></th>
                <th><%= __('Action') %></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="house in vm.houses" class="ng-cloak">
                <td>{{house.id}}</td>
                <td><input type="text" ng-model="house.name" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHouse(house);" class="form-control" /></td>
                <td><input type="text" ng-model="house.address" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHouse(house);" class="form-control" /></td>
                <td><input type="text" ng-model="house.city" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHouse(house);" class="form-control" /></td>
                <td><input type="text" ng-model="house.postcode" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHouse(house);" class="form-control" /></td>
                <td><input type="text" ng-model="house.country" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHouse(house);" class="form-control" /></td>
                <td><input type="text" ng-model="house.latitude" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHouse(house);" class="form-control" /></td>
                <td><input type="text" ng-model="house.longitude" ng-model-options='{ debounce: 500 }' ng-change="vm.updateHouse(house);" class="form-control" /></td>
                <td><button ng-click="vm.deleteHouse($index, house.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.name" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.address" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.city" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.postcode" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.country" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.latitude" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.longitude" /></td>
                <td><button class="btn btn-success btn-sm" ng-click="vm.createHouse(vm.newHouse)"><%= __('New') %></button></td>
            </tr>
        </tbody>
    </table>
    
  </div>
  
</div>

<!-- END OF HOUSE BOX -->

<!-- NEW BOX -->
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><%= __('room-box-title') %> <small ng-show="vm.savingroom"><%= __('room-box-saving') %></small></h3>
    </div>
    
    <div class="box-body table-responsive">

    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><%= __('ID') %></th>
                <th><%= __('Name') %></th>
                <th><%= __('House') %></th>
                <th><%= __('Action') %></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in vm.rooms" class="ng-cloak">
                <td>{{room.id}}</td>
                <td><input type="text" ng-model="room.name" ng-model-options='{ debounce: 500 }' ng-change="vm.updateRoom(room);" class="form-control" /></td>
                <td>
                    <select name="selectHouse" class="form-control"
                         ng-options="house.id as house.name for house in vm.houses"
                         ng-model="room.house" ng-change="vm.updateRoom(room);">
                    </select>
                </td>
                <td><button ng-click="vm.deleteRoom($index, room.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
            </tr>
            <tr class="ng-cloak"> 
                <td></td>
                <td><input type="text" class="form-control" ng-model="vm.newRoom.name" /></td>
                <td><select ng-model="vm.newRoom.house" class="form-control" >
                        <option ng-repeat="house in vm.houses" value="{{house.id}}">{{house.name}}</option>
                </select>

                </td>
                <td><button class="btn btn-success btn-sm" ng-click="vm.createRoom(vm.newRoom)"><%= __('New') %></button></td>
            </tr>
        </tbody>
    </table>

</div>

</div>

</div>

<%- partial ('./machines.ejs') %>

<%- partial ('./modes.ejs') %>